# Created by venv; see https://docs.python.org/3/library/venv.html
*

# VSCode
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Arquivos de sistema
*.DS_Store
Thumbs.db
desktop.ini
*~

